.top-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-bar {
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top: 70px;
  color: #778899;
}

.btn-default {
  background-color: #d3d3d3;
  color: #778899;
}

.img-responsive {
    margin: 0 auto;
}

.text-caption {
  color: #778899;
}

.object-border {
  border-style: solid;
  border-color: #2f4f4f;
  border-width: 1px;
  border-radius: 5px;
}

.text-bottom {
  position: 0;
  bottom: 0;
}

.img-background {
  background-image: url("https://hd.unsplash.com/photo-1458724029936-2cc6ee38f5ef");
  background-size:cover;
  background-repeat:no-repeat;
}

.col-centered{
float: none;
margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.grey-background {
  background-color: #d3d3d3;
}

.white-background {
  background-color: white;
}

.vertical-buffer {
  margin-top: 20px;
  margin-bottom: 20px;
}
