<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Steve's Dog Merch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px "Helvetica Neue", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main') }}">stevehind.me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('showDogMerch') }}">dog-merch</a></li>
      </ul>
    </div>
    </div>
</nav>
<!-- Body -->
<div class="container-fluid bg-2 text-center">
    <p>Buy a 2020 wall calendar of Sydney and Sesil's dumb faces</p>
    <p>Enter your shipping details below, and click checkout to buy!</p>
    <p>Calendars should ship within two weeks of placing your order.</p>

    <form class="form-horizontal"> <!--action="/buy" method="post">-->
            <input name="items" type="hidden" value="{{ items }}" />
            <div class="panel-body">
                    {% for field in cardholder_fields %}
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="cardholder-{{ field[0] }}">{{ field[0] }}</label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input class="form-input" type="text" name="{{ field[0] }}" id="cardholder-{{ field[0] }}"
                                placeholder="{{ field[1] }}">
                        </div>
                    </div>
                    {% endfor %}

            </div>

    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3"></script>

    <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
    <button
      style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-sku_FTQLFIPvgrVgcj"
      role="link"
    >
      Checkout
    </button>

    <div id="error-message"></div>

    <script>
      var stripe = Stripe('pk_live_N0ieCjIE8lHaPeA3gdeq6ULm00NgerxJLj');

      var checkoutButton = document.getElementById('checkout-button-sku_FTQLFIPvgrVgcj');
      checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.
        stripe.redirectToCheckout({
          items: [{sku: 'sku_FTQLFIPvgrVgcj', quantity: 1}],

          // Do not rely on the redirect to the successUrl for fulfilling
          // purchases, customers may not always reach the success_url after
          // a successful payment.
          // Instead use one of the strategies described in
          // https://stripe.com/docs/payments/checkout/fulfillment
          successUrl: window.location.protocol + '//www.stevehind.me/success',
          cancelUrl: window.location.protocol + '//www.stevehind.me/canceled',
        })
        .then(function (result) {
          if (result.error) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer.
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
          }
        });
      });
    </script>

</div>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p class="text-muted">Copyright Steve Hind 2019. <a href="mailto:steve.hind+website@gmail.com">Contact</a>. <a href="{{ url_for('showTerms') }}">Terms, Privacy Policy and Refunds</a>.</p>
</footer>

</body>
</html>