<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Git workflow</title>
        <meta name="description" content="Faster than referring back to codecademy">
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        
        <h1>Git workflow</h1>
        <p><a href="http://stevehind.me">Home</a></p>
        <h2>Faster than referring back to codecademy</h2>
        
        <h3>
        The steps in the terminal are (source: <a href="https://www.codecademy.com/en/courses/learn-git/lessons/git-teamwork/exercises/workflow">Codecademy</a>):
        </h3>
        <li>Init git: <em>git init</em></li>
        <li>Fetch and merge changes from the remote: <em>git merge origin/master</em></li>
        <li>Create a branch to work on the new feature: <em>git branch [name], git checkout [name]</em></li>
        <li>Develop the feature on the branch and commit the changes: <em>git add [file], git commit -m [message]</em></li>
        <li>Fetch and merge from remote again: <em>git merge origin/master</em></li>
        <li>Push the branch up to the remote for review: <em>git push origin [name]</em></li>
        <li>Review and approve on <a href="https://github.com/stevehind/stevehind.github.io" Github>Github</a></li>
        <p><a href="http://stevehind.me">Home</a></p>
    </body>
</html>